/* CSS RESET */
*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin: 45px;
}

#det{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto 380px;
    background-color: rgba(65, 145, 145, 0.459);
}

table{
    margin: 45px auto;
}

th, td{
    text-align: left;
    padding: 10px;
    margin: 35px;
}
th:hover, td:hover{
    cursor: pointer;
}

#main>img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
}

#get{
    text-align: center;
    margin: 100px 400px;
    padding: 45px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(65, 145, 145, 0.459);
}

#get:hover{
    cursor: pointer;
}